html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flexbox;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 41, 49);
    transition: background-color 0.5s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

li{
    margin-left: 2%;
}

nav{
    width: max-content;
    color: #000000;
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    text-decoration: none;
    margin-right: 2%;
    text-spacing-trim: 20px;
}
a{
    width: 200px;
    font-size: 25px;
    color: #000000;
    font-weight: 800;
    cursor: pointer;
    right: 0;
    text-decoration: none;
    text-align: right;
}



.scroll-zone {
    height: 300px; /* même que scrollMax dans JS */
}

.scroll{
    opacity: 1;
    position: absolute;
    right: 10px;
    bottom: 10px;

}



h1 {
    font-family: 'Impact', sans-serif;  
    position: sticky;  
    top: 0;
    left: 0;
    margin: 0;
    font-size: 30px;                       
    color: #ffffff;                         
    text-align: left;                     
    letter-spacing: 1px;                    
    text-transform: uppercase;              
    margin-top: 40px;  
    padding: 10px;
  }

h2 {
    text-align: center;
    font-family: 'TT Commons', sans-serif;     
    font-size: 48px;                        /* Taille du texte */
    color: #ffffff;                       
    letter-spacing: 1px;                    /* Espacement entre les lettres */
    text-transform: uppercase;              /* Tout en majuscules */
    margin-top: 40px;                       /* Espace au-dessus */
}

h4 {
    font-family: 'Literata', sans-serif;
    font-size: 24px;
    color: #c3c3c3;
    position: absolute;
    margin-left: 28%;
    margin-top: -1.7%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease;
    z-index: 1000;
}

#logoHeader {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    transition: all 0.5s ease;
    margin: 0;
  }

header.shrink{
    height: 80px;
    justify-content: center;
    background: none;
}
  
header.shrink #logoHeader {
    font-size: 1.5rem;
    transform: translateY(-5px);
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
  }




.navigateur{
    opacity: 0.7;
    margin-left: 32.5%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    margin-bottom: 5vh;
    width: 35%;
    height: 7vh;
    border-radius: 20px;
    animation: fadeIn 1s linear;
    transition: all 0.5s linear;
    display: flex;
    justify-content: center;    
    align-items: center;        
    gap: 15%;                   
    flex-wrap: wrap;
    z-index: 9999;
}


.navigateur:hover{
    opacity: 1;
}


.navigateur img {
    height: 50%;
    cursor: pointer;
}

.space{
    height: 100vh;
}

 .remain {
    margin: auto;
    display: none;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

.display { 
    border: 2px solid #ffffff;
    border-radius: 25px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    font-size: 24px;
    z-index: 1000;
    width: 95%;
    margin-left: 1%;
    align-items: center;
    justify-items: center;
    display: grid;
    height: 85vh;
    margin-top: 0;
    animation: fadeIn linear;
    animation-timeline: view();
    animation-range: entry 0;
    margin-top: 0;
}



.pageMoi{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 40% 30% 30%;
    gap: 1rem;
    grid-template-areas: 
        "box-1 box-2 box-3"
        "box-1 box-2 box-3";
    color: #ffffff;
}


.textMoi{
    width: 100%;
}
.textMoi p{
  margin-left: 5%;
  margin-top: 10%;
}


.textMoi h1{
    margin-top: 10%;
    margin-left: 4%;
    font-size: 60px;
    animation: fadeInUp 0.5s ease-out;
}

.textMoi h4{
  margin-left: 575px;
  margin-top: -30px;
  animation-delay: 0.5s;
  animation: fadeIn 0.5s ease-out;
}

.textMoi p{
  animation: fadeIn 1s linear;
}

.imageMoi{
    gap: 20px;
    border-spacing: 2%;
    margin-top: 12%;
}

.imageMoi img{
    width: 50%;
    animation: fadeInRight 0.5s ease-out;
}

.école{
    margin-bottom: 50px;
}

.projets{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: 31% 15% 31%;
    gap: 1rem;
    grid-template-areas: 
        "box-p1 box-p2 box-p3"
        "box-p7 box-p7 box-p7"
        "box-p4 box-p5 box-p6";
    height: fit-content;
}

.space1{
  height: 4vh;
}

.licence{
  margin-top: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.licenceT1{
  animation: fadeInUp 1s ease-out;
}

.licenceT2{
  animation: fadeInUp 1s ease-out;
}

.licenceP1{
  animation: fadeInLeft 0.5s linear;
}

.licenceP2{
  animation: fadeInRight 0.5s linear;
}



.compétence{
  margin-top: -3%;
}

.gridCompétence{
  margin-top: 2%;
  justify-content: center;
  font-size: 15px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 31% 7% 31%;
  gap: 1rem;
  grid-template-areas: 
      "box-c1 box-c2 box-c3 box-c4"
      "box-p7 box-p7 box-p7 box-p7"
      "box-c5 box-c6 box-c7 box-c8";
  height: fit-content;
}

.compétence img{
  width: 15%;
}
.compétence span{
  font-size: 10px;
}

.gridLicence{
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 70%;
  gap: 10%;
  row-gap: 20%;
  grid-template-areas: 
      "box-l1 box-l2";
  height: fit-content;
  margin-left: 8%;
}

.projets img{
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.projets img:hover{
  scale: 1.02;
}

.i1{
  animation: fadeInUp 0.5s ease-out;
}

.i2{
  animation: fadeInUp 0.6s ease-out;
}

.i3{
  animation: fadeInUp 0.7s ease-out;
}

.i4{
  animation: fadeInUp 0.8s ease-out;
}

.i5{
  animation: fadeInUp 0.9s ease-out;
}

.i6{
  animation: fadeInUp 1s ease-out;
}

.i7{
  animation: fadeInUp 1.2s ease-out;
}

.i8{
  animation: fadeInUp 1.4s ease-out;
}


.pi1{
  animation: fadeInDown 0.5s ease-out;
}

.pi2{
  animation: fadeInDown 0.6s ease-out;
}

.pi3{
  animation: fadeInDown 0.7s ease-out;
}

.pi4{
  animation: fadeInDown 0.8s ease-out;
}

.pi5{
  animation: fadeInDown 0.9s ease-out;
}

.pi6{
  animation: fadeInDown 1s ease-out;
}
.modal {
    color: #ffffff;
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }

  .modal button{
    background-color: #1E8CFF;
    border-radius: 15px;
    height: 5vh;
    width: 7vw;
  }
  
  .modal-content {
    background-color: rgb(38, 41, 49);
    margin: 10% auto;
    padding: 20px;
    max-width: 600px;
    text-align: center;
    border-radius: 8px;
    position: relative;
  }
  
  .modal-content img {
    max-width: 100%;
    height: auto;
    margin-top: 3%;
  }
  
  .close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
  }

  .close:hover {
    color: #838383; /* ou une autre teinte douce */
  }

.displayMoi, .displayLicence, .displayProjets, .displayContact{
    display: none;
}

.contactF{
  width: 100%;
}

.titleContact{
  animation: fadeInUp 1s linear;
}

#contact-form {
    color: #ffffff;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
    margin: auto;
    border-radius: 8px;
    margin-top: -3%;
    animation:fadeIn 1s linear;
  }


  
  #contact-form label {
    font-weight: bold;
    margin-left: 5%;
  }
  
  #contact-form input,
  #contact-form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    width: 90%;
    margin-left: 5%;
  }
  
  #contact-form button {
    padding: 10px;
    font-size: 1rem;
    background-color: #1E8CFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
  }
  
  #contact-form button:hover {
    background-color: #004999;
    cursor: pointer;
  }

.timeline {
    margin-top: 0%;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
  }
  
.step {
    width: 120px;
    height: 40px;
    background: lightgray;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: background 0.3s;
  }

.step.active {
    background: dodgerblue;
    color: white;
  }



  
#content {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    width: 100%;
  }
  
.licence{
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.licence p{
 font-size: 35px;
}

.licence h1{
    align-items: center;
    text-align: center;
    width: 50%;
    margin-left: 25%;
   }

.pageSuite {
    display: flexbox;
    width: 100%;
    height: 1px;
}



.titlePres{
    font-weight: 800;

}

.idPic{
    border-radius: 50px;
    width: auto;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.boutonPres{
    margin: auto;
    display: inline;
    text-spacing-trim: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

.parentPres{
    margin-top: 5%;
    display: flex;
    width: 90%;
    height: fit-content;
    justify-content: center;
    align-items: top;
    margin-left: 5% ;
}


@keyframes defilement {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes defilementT {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}


@keyframes appear {
    from{
        opacity: 0;
        scale: 0.7;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes fadeInLeft {
    from{
        opacity: 0;
        transform: translateX(-30%);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0%);
    }
}

/* ========== Fade In ========== */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  /* ========== Fade In Up ========== */
  @keyframes fadeInUp {
    from {
      scale: 0.9;
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: none;
      scale: 1;
    }
  }
  
  /* ========== Fade In Down ========== */
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  /* ========== Fade In Left ========== */
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  /* ========== Fade In Right ========== */
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  /* ========== Zoom In ========== */
  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
  
  /* ========== Bounce In ========== */
  @keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
  
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
  
  /* ========== Slide In Up ========== */
  @keyframes slideInUp {
    from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  /* ========== Rotate In ========== */
  @keyframes rotateIn {
    from {
      transform: rotate3d(0, 0, 1, -200deg);
      opacity: 0;
    }
    to {
      transform: none;
      opacity: 1;
    }
  }

